In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
train_data = pd.read_excel('Downloads/archive (9)/Data_Train.xlsx')

In [5]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
train_data.shape

(10683, 11)

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [8]:
train_data['Duration'].value_counts()

Duration
2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
31h 30m      1
30h 25m      1
42h 5m       1
4h 10m       1
47h 40m      1
Name: count, Length: 368, dtype: int64

In [9]:
train_data['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [10]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [11]:
train_data[train_data['Route'].isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [12]:
train_data.dropna(inplace=True)

In [13]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [14]:
train_data.shape

(10682, 11)

using Pandas to_datetime to convert Date_of_Journey from object data type to datetime dtype

In [15]:
train_data['Journey_Day'] = pd.to_datetime(train_data.Date_of_Journey, format= "%d/%m/%Y").dt.day

In [16]:
train_data['Journey_Month'] = pd.to_datetime(train_data.Date_of_Journey, format= "%d/%m/%Y").dt.month

In [17]:
train_data.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month
10174,Jet Airways,21/03/2019,Delhi,Cochin,DEL → BOM → COK,08:00,18:50,10h 50m,1 stop,No info,12767,21,3
9484,Air India,21/03/2019,Delhi,Cochin,DEL → RPR → NAG → BOM → COK,05:15,19:15 22 Mar,38h,3 stops,No info,9128,21,3
4783,Jet Airways,6/05/2019,Kolkata,Banglore,CCU → BOM → BLR,18:55,10:05 07 May,15h 10m,1 stop,In-flight meal not included,7757,6,5
6053,IndiGo,9/06/2019,Delhi,Cochin,DEL → BOM → COK,15:00,01:30 10 Jun,10h 30m,1 stop,No info,6316,9,6
3433,IndiGo,3/04/2019,Banglore,Delhi,BLR → DEL,13:00,15:50,2h 50m,non-stop,No info,4077,3,4

In [18]:
#Dropping the Date_of_Journey column as we have extracted and converted the data from string to int

train_data.drop(['Date_of_Journey'], axis=1 , inplace=True)

In [19]:
#Extracting hours and minutes from Departure Time :

train_data['Dep_Hour'] = pd.to_datetime(train_data['Dep_Time']).dt.hour
train_data['Dep_Minute'] = pd.to_datetime(train_data['Dep_Time']).dt.minute

C:\Users\User\AppData\Local\Temp\ipykernel_22956\2248117750.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data['Dep_Hour'] = pd.to_datetime(train_data['Dep_Time']).dt.hour
C:\Users\User\AppData\Local\Temp\ipykernel_22956\2248117750.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data['Dep_Minute'] = pd.to_datetime(train_data['Dep_Time']).dt.minute

In [21]:
#Dropping the Dep_Time column as we have extracted and converted the data from string to int

train_data.drop(['Dep_Time'], axis=1 , inplace=True)

In [22]:
train_data.sample(5)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute
1620,Jet Airways,Banglore,Delhi,BLR → DEL,11:20,3h,non-stop,No info,7229,3,5,8,20
3664,Air Asia,Kolkata,Banglore,CCU → BLR,12:55,2h 35m,non-stop,No info,4384,15,3,10,20
10668,Jet Airways,Delhi,Cochin,DEL → JDH → BOM → COK,19:00,7h 20m,2 stops,No info,21219,9,5,11,40
2781,IndiGo,Banglore,Delhi,BLR → DEL,08:50,2h 45m,non-stop,No info,3943,3,6,6,5
5658,SpiceJet,Kolkata,Banglore,CCU → BLR,00:40 25 May,2h 20m,non-stop,No info,3873,24,5,22,20

In [23]:
#Extracting hours and minutes from Arrival Time :

train_data['Arrival_Hour'] = pd.to_datetime(train_data['Arrival_Time']).dt.hour
train_data['Arrival_Minute'] = pd.to_datetime(train_data['Arrival_Time']).dt.minute

C:\Users\User\AppData\Local\Temp\ipykernel_22956\3945615810.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data['Arrival_Hour'] = pd.to_datetime(train_data['Arrival_Time']).dt.hour
C:\Users\User\AppData\Local\Temp\ipykernel_22956\3945615810.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data['Arrival_Minute'] = pd.to_datetime(train_data['Arrival_Time']).dt.minute

In [24]:
train_data.drop(['Arrival_Time'], axis=1 , inplace=True)

In [25]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35